
.parent{
    background-color: rgb(183, 65, 105);
    position: relative;
    width: 700px;
    height: 800px;
    top: 400px;
    left: 40%;
    box-shadow: 5px 5px 4px;
    border: 4px dotted black;
    cursor: pointer;
    border-radius: 50px;
}
.parent:hover{
    border: 4px dotted rgb(17, 50, 218);
    box-shadow: 5px 5px 30px blue;
}
.img{
    position: relative;
 left: 200px;
 top: 20px;
 border-radius: 100px;
 /* box-shadow: 6px 6px 5px rgb(247, 80, 80); */
 
}
.img:hover{
    box-shadow: 6px 6px 5px 5px rgb(247, 80, 80);
}

.ham{
    text-align: center;
    font-size: 70px;
    color: grey;
    font-style: italic;
    text-decoration: underline;
    background-color: rgb(30, 30, 34);
    
}

#inst{
    position: relative;
    background-color: rgb(126, 36, 36);
    color: white;
    font-size: 100px;
    left: 50px;
    /* border-radius: 2px 2px 2px 2px; */
    margin: 30px;

}
.btn{
    background-color: rgb(213, 33, 33);
    border: 4px 4px solid rgb(232, 54, 54);
    font-size: 50px;
    color: white;
    position: relative;
    left: 200px;
    /* border-radius: 200px; */
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 4px 3px red;
    font-style: italic;
   
    
    
}
.btn2{
    position: relative;
    top: 100px;
   background-color: rgb(235, 25, 25);
    font-size: 50px;
    color: white;
    right: 100px;
    /* border-radius: 80px; */
    margin: 20px;
    padding: 10px;
    border: 4px 4px solid gray;
    box-shadow: 4px 4px 3px red;
    font-style: italic;
    
}